<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Your Library</title>
</head>

<body>
  {% extends 'base.html' %}
  {% block content %}
  <div id='searchSettings' class='container'>
    <h1>Your Library</h1>
    <p>View all the new releases from your artists here</p>
    <div class="card">
      <div class="card-header">Begin your search</div>
      <div class="card-body">
        <form name='searchSettings'>
          <div class="form-group">
            <label for="username">last.fm Username:</label>
            <input type="text" class="form-control" name="username" placeholder="last.fm Username">
          </div>
          <div class="form-group">
            <label for="numArtists">Number of artists to search:</label>
            <input type="radio" name="numArtists" value="50">50
            <input type="radio" name="numArtists" value="100">100
            <input type="radio" name="numArtists" value="all" checked>All
          </div>
          <div class="form-group">
            <label for="timePeriod">Time period:</label>
            <input type="radio" name="timePeriod" value="week" checked>Last week
            <input type="radio" name="timePeriod" value="month">Last month
            <input type="radio" name="timePeriod" value="year">Last year
          </div>
          <div class="form-group">
            <label for="searchType">Search type:</label>
            <input type="radio" name="searchType" value="musicbrainz" checked>Musicbrainz (slow)
            <input type="radio" name="searchType" value="deezer">Deezer
          </div>
          <button type="submit" class='btn btn-primary'>Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div id='new-releases' class='container'>
    <p id='status'></p>
    <div id='outer-progress' class="progress" style="visibility:hidden">
      <div id='progress' class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%"></div>
    </div>
    <div class='row' id='display-releases'></div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- My javascript -->
  <script type="module" src="/static/js/inputDataForm.js" crossorigin="use-credentials"></script>
  {% endblock %}
</body>

</html>